<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hf.videoplayer.mapper.ClickEventMapper">

    <resultMap id="ClickEventEntityMap" type="com.hf.videoplayer.entity.ClickEvent">
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO clickevent_edutec_2022 (uid,vid,event,position,time,state,rate) VALUES (#{uid},#{vid},#{event},#{position},#{time},#{state},#{rate})
    </insert>

    <select id="findEventsByUidAndVid" resultMap="ClickEventEntityMap">
        SELECT * FROM clickevent_edutec_2022 WHERE uid = #{uid} AND vid = #{vid}
    </select>

</mapper>