<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hf.videoplayer.mapper.QuestionMapper">

    <resultMap id="QuestionEntityMap" type="com.hf.videoplayer.entity.Question">
        <id column="id" property="id"></id>
        <result column="quiz_id" property="quizId"></result>
        <result column="question_id" property="questionId"></result>
        <result column="correct_answer" property="correctAnswer"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO quiz_question_android_2022 (quiz_id,question_id,title,optionA,optionB,optionC,optionD,correct_answer) VALUES (#{quizId},#{questionId},#{title},#{optionA},#{optionB},#{optionC},#{optionD},#{correctAnswer})
    </insert>

    <select id="findByQuizID" resultMap="QuestionEntityMap">
        SELECT * FROM quiz_question_android_2022 WHERE quiz_id = #{quizId}
    </select>

</mapper>
