<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hf.videoplayer.mapper.QuizRecordMapper">

    <resultMap id="QuizRecordEntityMap" type="com.hf.videoplayer.entity.QuizRecord">
        <id column="id" property="id"></id>
        <result column="right_questionID" property="rightQuestionID"></result>
        <result column="error_questionID" property="errorQuestionID"></result>
        <result column="start_time" property="startTime"></result>
        <result column="end_time" property="endTime"></result>
        <result column="used_time" property="usedTime"></result>
        <result column="num_of_right" property="numOfRight"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO quiz_record (vid,uid,answer,right_questionID,error_questionID,start_time,end_time,used_time,score,num_of_right) VALUES (#{vid},#{uid},#{answer},#{rightQuestionID},#{errorQuestionID},#{startTime},#{endTime},#{usedTime},#{score},#{numOfRight})
    </insert>

    <select id="findQuizRecordByUidAndQuizId" resultMap="QuizRecordEntityMap">
        SELECT * FROM quiz_record WHERE vid = #{vid} AND uid = #{uid}
    </select>

    <select id="findUserQuizRecords" resultMap="QuizRecordEntityMap">
        SELECT * FROM quiz_record WHERE uid = #{uid}
    </select>

    <select id="findVideoQuizRecords" resultMap="QuizRecordEntityMap">
        SELECT * FROM quiz_record WHERE vid = #{vid}
    </select>

</mapper>