<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hf.videoplayer.mapper.TraceMapper">

    <resultMap id="TraceEntityMap" type="com.hf.videoplayer.entity.Trace">
        <id column="id" property="id"></id>
        <result column="uname" property="userName"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO learning_trace_database_2022new (num,uname,trace,time) VALUES (#{num},#{userName},#{trace},#{time})
    </insert>

    <select id="findByUserName" resultMap="TraceEntityMap">
        SELECT * FROM learning_trace_database_2022new WHERE uname = #{userName}
    </select>

    <select id="findById" resultMap="TraceEntityMap">
        SELECT * FROM learning_trace_database_2022new WHERE id = #{id}
    </select>
</mapper>
