<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hf.videoplayer.mapper.UserMapper">

    <resultMap id="UserEntityMap" type="com.hf.videoplayer.entity.User">
        <id column="id" property="id"></id>
        <result column="user_name" property="userName"></result>
        <result column="user_pass" property="userPass"></result>
        <result column="course_name" property="courseName"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (user_name,user_pass,name,authority) VALUES (#{userName},#{userPass},#{name},#{authority})
    </insert>

    <select id="findByUserName" resultMap="UserEntityMap">
        SELECT
            t3.id,user_name,user_pass,name,authority,course_name
        FROM(
                SELECT
                    t1.id,user_name,user_pass,name,authority,course_id
                FROM(
                        SELECT * FROM user WHERE user_name = #{userName}
                    )t1
                        JOIN class t2 ON t1.class_id=t2.class_id
            )t3
        JOIN course t4 ON t3.course_id = t4.course_id

    </select>

    <select id="findById" resultMap="UserEntityMap">
        SELECT
            t3.id,user_name,user_pass,name,authority,course_name
        FROM(
                SELECT
                    t1.id,user_name,user_pass,name,authority,course_id
                FROM(
                        SELECT * FROM user WHERE id = #{id}
                    )t1
                        JOIN class t2 ON t1.class_id=t2.class_id
            )t3
                JOIN course t4 ON t3.course_id = t4.course_id
    </select>
</mapper>
